In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
oct_10_1 = pd.read_csv("scraped_raw_data/output_Oct_10_test.csv.gz", index_col = 0, header= None)

In [11]:
oct_10_2 = pd.read_csv("scraped_raw_data/output_Oct_10_2.csv.gz", index_col = 0, header = None)

In [12]:
oct_10_3 = pd.read_csv("scraped_raw_data/output_Oct_10_3.csv.gz", index_col = 0, header = None)

In [13]:
oct_12_1 = pd.read_csv("scraped_raw_data/output_Oct_12.csv.gz", index_col = 0, header = None)

In [14]:
oct_12_2 = pd.read_csv("scraped_raw_data/output_Oct_12_am.csv.gz", index_col = 0, header = None)

In [18]:
oct_12_3 = pd.read_csv("scraped_raw_data/output_Oct_12_pm.csv.gz", index_col = 0, header = None)

In [19]:
dfs = [oct_10_1, oct_10_2, oct_10_3, oct_12_1, oct_12_2, oct_12_3]

df = pd.concat(dfs)

In [20]:
df.shape

(100490, 12)

In [21]:
df.columns = ['text', 'screen_name', 'user_description', 'favourite_count',
              'retweet_count',	'created_at', 'replying_to', 'media', 
              'hashtags', 'urls', 'user_mentions', 'is_quote']

In [22]:
df.head()

,text,screen_name,user_description,favourite_count,retweet_count,created_at,replying_to,media,hashtags,urls,user_mentions,is_quote
0,,,,,,,,,,,,
0,"RT @USNationalGuard: Today, approximately 5,20...",echristensen113,"Native West Texan, avid gardener, skilled chef.",0,92,2022-10-03 20:19:51+00:00,NaN,False,[],[],"[{'screen_name': 'USNationalGuard', 'name': 'N...",False
1,"RT @glamelegance: Is it just me, or does anyon...",BlanketFtBliss,NaN,0,5452,2022-10-03 20:19:50+00:00,NaN,False,[],[],"[{'screen_name': 'glamelegance', 'name': 'Jule...",False
2,"RT @HomeDepotFound: Over the weekend, one of o...",EBadger76,Asset Protection Supervisor at Redlands 5087! ...,0,29,2022-10-03 20:19:46+00:00,NaN,False,[],[],"[{'screen_name': 'HomeDepotFound', 'name': 'Th...",False
3,RT @TeamPelosi: ALL House Democrats said YES t...,kenneyy88,NaN,0,6449,2022-10-03 20:19:45+00:00,NaN,False,[],[],"[{'screen_name': 'TeamPelosi', 'name': 'Nancy ...",False
4,‚Äú#Florida's death toll from #HurricaneIan tops...,AmPowerBlog,Sports Twitter is the best Twitter. üèàüèáüéæüõπ‚öæüèåÔ∏èüòéüö¥üèê...,0,0,2022-10-03 20:19:43+00:00,NaN,False,"[{'text': 'Florida', 'indices': [1, 9]}, {'tex...","[{'url': 'https://t.co/RqcyAHAxtk', 'expanded_...",[],False

In [23]:
dd = df.drop_duplicates(subset=['text', 'screen_name'])

In [24]:
dd.shape

(47690, 12)

In [25]:
dd.head()

,text,screen_name,user_description,favourite_count,retweet_count,created_at,replying_to,media,hashtags,urls,user_mentions,is_quote
0,,,,,,,,,,,,
0,"RT @USNationalGuard: Today, approximately 5,20...",echristensen113,"Native West Texan, avid gardener, skilled chef.",0,92,2022-10-03 20:19:51+00:00,NaN,False,[],[],"[{'screen_name': 'USNationalGuard', 'name': 'N...",False
1,"RT @glamelegance: Is it just me, or does anyon...",BlanketFtBliss,NaN,0,5452,2022-10-03 20:19:50+00:00,NaN,False,[],[],"[{'screen_name': 'glamelegance', 'name': 'Jule...",False
2,"RT @HomeDepotFound: Over the weekend, one of o...",EBadger76,Asset Protection Supervisor at Redlands 5087! ...,0,29,2022-10-03 20:19:46+00:00,NaN,False,[],[],"[{'screen_name': 'HomeDepotFound', 'name': 'Th...",False
3,RT @TeamPelosi: ALL House Democrats said YES t...,kenneyy88,NaN,0,6449,2022-10-03 20:19:45+00:00,NaN,False,[],[],"[{'screen_name': 'TeamPelosi', 'name': 'Nancy ...",False
4,‚Äú#Florida's death toll from #HurricaneIan tops...,AmPowerBlog,Sports Twitter is the best Twitter. üèàüèáüéæüõπ‚öæüèåÔ∏èüòéüö¥üèê...,0,0,2022-10-03 20:19:43+00:00,NaN,False,"[{'text': 'Florida', 'indices': [1, 9]}, {'tex...","[{'url': 'https://t.co/RqcyAHAxtk', 'expanded_...",[],False

In [27]:
is_retweet = []

for tweet in dd['text']:
    if tweet.startswith("RT"):
        is_retweet.append(True)
    else:
        is_retweet.append(False)

In [28]:
dd['is_retweet'] = is_retweet
dd.head()

<ipython-input-28-a344cc652172>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['is_retweet'] = is_retweet

,text,screen_name,user_description,favourite_count,retweet_count,created_at,replying_to,media,hashtags,urls,user_mentions,is_quote,is_retweet
0,,,,,,,,,,,,,
0,"RT @USNationalGuard: Today, approximately 5,20...",echristensen113,"Native West Texan, avid gardener, skilled chef.",0,92,2022-10-03 20:19:51+00:00,NaN,False,[],[],"[{'screen_name': 'USNationalGuard', 'name': 'N...",False,True
1,"RT @glamelegance: Is it just me, or does anyon...",BlanketFtBliss,NaN,0,5452,2022-10-03 20:19:50+00:00,NaN,False,[],[],"[{'screen_name': 'glamelegance', 'name': 'Jule...",False,True
2,"RT @HomeDepotFound: Over the weekend, one of o...",EBadger76,Asset Protection Supervisor at Redlands 5087! ...,0,29,2022-10-03 20:19:46+00:00,NaN,False,[],[],"[{'screen_name': 'HomeDepotFound', 'name': 'Th...",False,True
3,RT @TeamPelosi: ALL House Democrats said YES t...,kenneyy88,NaN,0,6449,2022-10-03 20:19:45+00:00,NaN,False,[],[],"[{'screen_name': 'TeamPelosi', 'name': 'Nancy ...",False,True
4,‚Äú#Florida's death toll from #HurricaneIan tops...,AmPowerBlog,Sports Twitter is the best Twitter. üèàüèáüéæüõπ‚öæüèåÔ∏èüòéüö¥üèê...,0,0,2022-10-03 20:19:43+00:00,NaN,False,"[{'text': 'Florida', 'indices': [1, 9]}, {'tex...","[{'url': 'https://t.co/RqcyAHAxtk', 'expanded_...",[],False,False

In [33]:
df = dd.loc[dd['is_retweet'] == False]
df.shape

(7652, 13)

In [30]:
df.to_csv("raw_tweets.csv.gz", compression = 'gzip')
dd.to_csv("tweets_douplicates_removed.csv.gz", compression = 'gzip')